header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ff6d84;
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav li {
    &:hover {
        background-color: white;
    }
    padding: 10px;
    border-radius: 5px;
}
body {
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: none;
}
a {
    color: black;
}
.whole {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin-bottom: 20px;
}