body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 10px;
    grid-gap: 20px;
    justify-items: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    height: 200px;
    width: 475px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    overflow: auto;
}

.card a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;

}

.text-container {
    flex: 1;
    width: 50%;
    padding: 10px;
}

.container {
    padding: 0 10px 10px;
}

.card img {
    width: 50%;
    height: 200px;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.img-container img {
    width: 100%;
}

.text-container h4 {
    margin: 0 0 10px;
}

.text-container p {
    margin: 0;
}

.article-title {
    margin: 5px;
    font-size: 14px;
}

.article-desc {
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.feed-edit-btn {
    border: none;
    background-color: grey;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    &:hover {
        background-color: white;
    }
}

.feed-del-btn {
    border: none;
    background-color: #ff5757;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    &:hover {
        background-color: white;
    }
}

.feeds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-feed-btn {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #71c5ff;
    border-radius: 5px;
}
